<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Ошибка</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="error-page">
<header><h1>Ошибка</h1></header>
<div class="container">
    <p>Пожалуйста, попробуйте еще раз или свяжитесь с администратором.</p>
</div>
<footer>
    <div class="container">
        <button class="btn btn-primary" id="back" type="button">Назад</button>
        <button class="btn btn-danger" id="logout-button" type="button">Выйти</button>
        <p>&copy; 2024 Perminov production</p>
    </div>
</footer>
<script src="/js/logout.js"></script>
<script src="/js/error.js"></script>
</body>
</html>